<form role="form">
    <div class="form-group">
        <label for="title">Название</label>
        <input type="text" class="form-control" id="title" ng-model="tariff.title" min="1" required="true">
    </div>
    <div class="form-group">
        <label for="description">Описание</label>
        <textarea class="form-control" id="description" ng-model="tariff.description" min="1" required="true"></textarea>
    </div>
    <div class="form-group">
        <label for="price">Стоимость аренды</label>
        <input class="form-control" id="price" ng-model="tariff.price" min="1" required="true">
    </div>
    <div class="form-group">
        <label for="periodQuantity">Продолжительность</label>
        <input type="text" class="form-control" id="periodQuantity" ng-model="tariff.periodQuantity" min="1" required="true">
        <select class="form-control" ng-model="tariff.durationPeriod">
            <option ng-repeat="period in periods" value="{{period.name}}" ng-selected="period.title == tariff.durationPeriod">{{period.title}}</option> 
        </select>
    </div>
    <div class="form-group">
        <label>Опции</label>
        <table id="option" class="table">
            <tr ng-repeat="option in options">
                <td><input type="checkbox"  ng-checked="isCheckedOption(option)" ng-click="toggleOption(option)"/></td>
                <td>{{option.title}}</td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default" ng-click="save()">Сохранить</button>
    </div>
</form>

