<form role="form">
    <div class="form-group">
        <label for="title">Название</label>
        <input type="text" class="form-control" id="title" ng-model="place.title" min="1" required="true">
    </div>
    <div class="form-group">
        <label for="capacity">Вместимость</label>
        <input class="form-control" id="capacity" ng-model="place.capacity" min="1" required="true">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default" ng-click="save()">Сохранить</button>
    </div>
</form>

