<div>
    <a href="#/member/{{member.id}}/edit">Редактировать</a>
    <p>Имя: {{member.name}}</p>
    <p>Фамилия: {{member.lastname}}</p>
    <p>Отчество: {{member.patronymic}}</p>
    <table>
        <thead>
            <tr>
                <th>Место</th>
                <th>С</th>
                <th>По</th>
                <th>Опции</th>
                <th>Полная стоимость</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="booking in bookings">
                <td><a href="#/place/{{booking.placeId}}">{{booking.placeTitle}}</a></td>
                <td>{{booking.fromTime| date:'dd.MM.yyyy'}}</td>
                <td>{{booking.toTime| date:'dd.MM.yyyy'}}</td>
                <td>
                    <ul><li ng-repeat="option in booking.options">{{option.title}}</li></ul>
                </td>
                <td>
                    {{booking.price}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
