<form role="form">
    <div class="form-group">
        <label for="from_time">Дата начала аренды</label>
        <input id="from_time" class="form-control" type="date" ng-model="booking.fromTime" required="true">
    </div>
    <div class="form-group">
        <label for="tariff">Тариф</label>
        <table id="tariff" class="table">
            <tr ng-repeat="tariff in tariffs">
                <td>
                    <input type="radio" name="tariff_input_radio" ng-model="booking.tariffId" ng-value="tariff.id">
                </td>
                <td>
                    {{tariff.title}}
                </td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        <label for="user">Пользователь</label>
        <select id="user" class="form-control" ng-model="booking.userId">
            <option ng-repeat="user in users" value="{{user.id}}">{{user.name}} {{user.lastname}}</option> 
        </select>
    </div>
    <div class="form-group">
        <label for="place">Рабочее место</label>
        <select id="place" class="form-control" ng-model="booking.placeId">
            <option ng-repeat="place in places" value="{{place.id}}">{{place.title}}</option> 
        </select>
    </div>
    <button type="submit" class="btn btn-default" ng-click="save()">Сохранить</button>
</form>

    

