<div>
    <p>Дата начала аренды: <input type="date" ng-model="booking.fromTime" required="true"></p>
    <p>
        Тариф: 
    </p>
    <table>
        <tr ng-repeat="tariff in tariffs">
            <td>
                <input type="radio" name="tariff_input_radio" ng-model="booking.tariffId" ng-value="tariff.id">
            </td>
            <td>
                {{tariff.title}}
            </td>
        </tr>
    </table>
    <p>
        Пользователь: 
        <select ng-model="booking.memberId">
            <option ng-repeat="member in members" value="{{member.id}}">{{member.name}} {{member.lastname}}</option> 
        </select>
    </p>
    <p>
        Рабочее место: 
        <select ng-model="booking.placeId">
            <option ng-repeat="place in places" value="{{place.id}}">{{place.title}}</option> 
        </select>
    </p>
    <button type="submit" ng-click="save()">Сохранить</button>
</div>
